*{margin: 0;
padding: 0;
box-sizing: border-box;
}
.main-div{
  min-height: 100vh;
  /* background: black; */
  display: flex;
  justify-content: center;
}
.child-div{
  text-align: center;
  margin-top: 12rem;

}
.child-div figure img{
  width: 10rem;
  height: 8rem;
}
.child-div figure figcaption{
  color: white;
  font-size: 2.2rem;
  padding-top: 2rem;
  text-transform: capitalize;
}
/* input{

} */